<div class="container mt-5">
<div class="row">
<div class="col-12">
 <div class="component-container m-3 p-1 ">
    <div class="content">
      <div class="orange p-5">
        <h2 class="mb-4">Contact Us</h2>
        <div class="mb-2"><i class="fas fa-map-marker-alt fa-lg"></i> Zen Street</div>
        <div class="mb-2"><i class="fas fa-envelope fa-lg"></i> website@gmail.com</div>
        <div class="mb-2"><i class="fas fa-phone fa-lg"></i> +201097755601</div>
        <div class="mb-2"><i class="fas fa-globe fa-lg"></i> +01067452351</div>
      </div>
  
      <div class="white p-5">
        <h1 class="text-bluegreen mb-4">Get in Touch</h1>
        <p class="mb-4">Feel free to drop us a line below</p>
        <form>
          <input type="text" class="form-control m-2" placeholder="Your First Name" required pattern="[a-zA-Z]+">
          <input type="text" class="form-control m-2" placeholder="Your Last Name" required pattern="[a-zA-Z]+">
          <input type="email" class="form-control m-2" placeholder="Your Email" required>
          <textarea class="form-control m-2" placeholder="Type your message here..." rows="5" required minlength="1"></textarea>
          <button type="submit" class="btn btn-primary">SEND</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
