<div class="limiter" style="background-color: #666666">
  <div class="container-login100">
    <div class="col-11 col-md-10 col-lg-12">
      <div class="wrap-login100">
        <form
          class="login100-form validate-form"
          #loginForm="ngForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="d-flex align-items-center" style="margin-top: -80px">
            <i class="fa-solid fa-1x fa-cart-shopping" style="color: orange"
              >&nbsp;<span style="font-size: 15px">Store</span></i
            >
          </div>
          <span class="login100-form-title p-b-43">
            <span class="login p-b-80">Reset Password</span>
          </span>
          <br />
          <br />
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3cg" style="font: 20px"
              >Email</label
            >
            <input
              type="email"
              name="email"
              ngModel
              class="form-control form-control-lg rounded"
              #e="ngModel"
              [(ngModel)]="email"
              placeholder="Enter Email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
            />
            <div class="alert alert-danger" *ngIf="e.touched">
              <p *ngIf="e.errors?.['required']">
                Email is a required field!
              </p>
              <p *ngIf="e.errors?.['pattern']">
                This is not a valid Email !
              </p>
            </div>
          </div>
          <br />
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example4cg">New Password</label>
            <input
              name="password"
              type="password"
              id="form3Example4cg"
              class="form-control form-control-lg"
              required
              [(ngModel)]="newPassword"
              minlength="8"
              #p="ngModel"
              ngModel
              pattern=".{8,}"
              placeholder="Enter Password"
            />
            <div class="alert alert-danger" *ngIf="p.touched">
              <p *ngIf="p.errors?.['required']">
                Password is a required field!
              </p>
              <p *ngIf="p.errors?.['pattern']" >
                This is not a valid Password !
              </p>
            </div>
          </div>
          <br />
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3cg"
              >Vertification Code</label
            >
            <input
              type="text"
              name="code"
              placeholder="Enter code"
              required
              ngModel
              #code="ngModel"
              [(ngModel)]="vcode"
              class="form-control form-control-lg"
              pattern=".{6,}"
            />
            <div class="alert alert-danger" *ngIf="code.touched">
              <p *ngIf="code.errors?.['required']" >
                Vertification code is a required field!
              </p>
              <p *ngIf="code.errors?.['pattern']">
                please Enter the code that came to your mail !
              </p>
            </div>
          </div>
          <br />
          <div class="container-login100-form-btn">
            <button
              class="login100-form-btn"
              style="font-size: 15px; border-radius: 20px"
              [disabled]="loginForm.invalid"
            >
              <!-- routerLink="/main/products" -->

              Reset Password
            </button>
          </div>
        </form>
        <div
          class="login100-more"
          style="background-image: url('../../../../assets/images/0.jpg')"
        ></div>
      </div>
    </div>
  </div>
</div>
