<div class="container mt-5 px-5">
  <div class="mb-4">
    <h2> Payment details</h2>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card p-3">
        <div class="inputbox mt-3"> <input type="text" name="name" class="form-control" required="required">
          <span>Name on card</span>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <i
                class="fa fa-credit-card"></i>
              <span>Card Number</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-row">
              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required">
                <span>Expiry</span>
              </div>
              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required">
                <span>CVV</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>