<!-- <form [formGroup]="step">
  <ng-template matStepLabel>Fill out your address</ng-template> -->




<!-- <mat-form-field>
    <input matInput placeholder="Card Number" formControlName="number" required>
  </mat-form-field>
  <div *ngIf="number?.invalid && (number?.dirty || number?.touched)" class="alert alert-danger w-25">
    <div *ngIf="number?.errors?.['required']">Number is required.</div>
    <div *ngIf="number?.errors?.['pattern']">Number must be at least {{ number?.errors?.['pattern'].requiredLength }} characters long.</div>
  </div> -->



<!-- <div class="col-md-6">
      <div class="inputbox mt-3 mr-2">
         <input matInput  formControlName="number" required  type="text" class="form-control"  >            
        <i class="fa fa-credit-card"></i>
        <span>Card Number</span>
        <div *ngIf="number?.invalid && (number?.dirty || number?.touched)"  class=" text-danger" role="alert">
          <p *ngIf="number?.errors?.['required']">Number is required.</p>
          <p *ngIf="number?.errors?.['pattern']">Please enter a valid card number (14 digits).{{ number?.errors?.['pattern'].requiredLength }} characters long.</p>
        </div>
      </div>
    </div> -->











<!-- 
  <mat-form-field>
    <input matInput placeholder="Expir month" formControlName="exp_month" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Expir year" formControlName="exp_year" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CVC" formControlName="cvc" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="totalPrice" formControlName="amount" required readonly>
  </mat-form-field> -->
<!-- <h1>{{totalPrice}}</h1> -->

<!-- {{stepTwo.value.address}} -->
<!-- <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</form> -->

<!-- <form [formGroup]="step">
  <ng-template matStepLabel>Fill out your address</ng-template>
  <mat-form-field>
    <input matInput formControlName="number">
    <mat-error *ngIf="number?.invalid && (number?.dirty || number?.touched)">
    <div *ngIf="number?.errors?.['pattern']">Please enter a valid card number (14 digits).</div>
    <div *ngIf="number?.errors?.['required']">number is required.</div>
    </mat-error>
  </mat-form-field>

<div class="col-md-6">
      <div class="inputbox mt-3 mr-2">
         <input matInput  formControlName="number" type="text" class="form-control"  >            
        <i class="fa fa-credit-card"></i>
        <span>Card Number</span>
        <div *ngIf="number?.invalid && (number?.dirty || number?.touched)"  class=" text-danger" role="alert">
          <p *ngIf="number?.errors?.['required']">Number is required.</p>
          <p *ngIf="number?.errors?.['pattern']">Please enter a valid card number (14 digits).</p>
        </div>
      </div>
    </div>




  <mat-form-field>
    <input matInput placeholder="Exp Month" formControlName="exp_month">
    <mat-error *ngIf="exp_month?.invalid && (exp_month?.dirty || exp_month?.touched)">
      <span *ngIf="exp_month?.errors?.['required']">This field is required.</span>
      <span *ngIf="exp_month?.errors?.['pattern']">Please enter a valid month (2 digits).</span>
    </mat-error>
  </mat-form-field>





  <mat-form-field>
    <input matInput placeholder="Exp Month" formControlName="exp_month">
    <mat-error *ngIf="exp_month?.invalid && (exp_month?.dirty || exp_month?.touched)">
      Please enter a valid month (2 digits).
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Exp Year" formControlName="exp_year">
    <mat-error *ngIf="exp_year?.invalid && (exp_year?.dirty || exp_year?.touched)">
      Please enter a valid year (4 digits).
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CVC" formControlName="cvc">
    <mat-error *ngIf="cvc?.invalid && (cvc?.dirty || cvc?.touched)">
      Please enter a valid CVC -->



<div class="container mt-5 px-5">
  <div class="mb-4">
    <h2> Payment details</h2>
  </div>
  <form [formGroup]="step">
    <ng-template matStepLabel>Fill out your address</ng-template>
    <div class="row">
      <div class="col-md-8">
        <div class="card p-3">
          <div class="inputbox mt-3">
            <!-- /////////////////Card Number!!!!//////////////////// -->
            <input matInput formControlName="number" type="text" class="form-control">
            <i class="fa fa-credit-card"></i>
            <span>Card Number</span>
            <div *ngIf="number?.invalid && (number?.dirty || number?.touched)" class=" text-danger" role="alert">
              <p *ngIf="number?.errors?.['required']">Number is required.</p>
              <p *ngIf="number?.errors?.['pattern']">Please enter a valid card number (16 digits).</p>
            </div>
          </div>
          <div class="row">
            <!-- ////////////////Exp Year//////////////////// -->
            <div class="col-md-6">
              <div class="inputbox mt-3 mr-2">
                <input matInput formControlName="exp_year" type="text" class="form-control">
                <span>Exp Year</span>
                <div *ngIf="exp_year?.invalid && (exp_year?.dirty || exp_year?.touched)" class=" text-danger"
                  role="alert">
                  <p *ngIf="exp_year?.errors?.['required']">Exp Year Required <i
                      class="fa-solid error fa-circle-exclamation"></i></p>
                  <p *ngIf="exp_year?.errors?.['pattern']">Please enter a valid year (4 digits).</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-row">

                <!-- ////////////////Card Expiry month //////////////////// -->
                <div class="inputbox mt-3 mr-2">
                  <input matInput formControlName="exp_month" type="text" class="form-control">
                  <span>Exp Month</span>
                  <div *ngIf="exp_month?.invalid && (exp_month?.dirty || exp_month?.touched)" class=" text-danger"
                    role="alert">
                    <p *ngIf="exp_month?.errors?.['required']">Exp Month Required
                      <i class="fa-solid error fa-circle-exclamation"></i>
                    </p>
                    <p *ngIf="exp_month?.errors?.['pattern']"> Please enter a valid month (2 digits).
                      <i class="fa-solid error fa-circle-exclamation"></i>
                    </p>
                  </div>
                </div>
                <!-- ////////////////Card Cvv //////////////////// -->
                <div class="inputbox mt-3 mr-2">
                  <input matInput formControlName="cvc" type="text" class="form-control" >
                  <span>CVC</span>
                  <div *ngIf="cvc?.invalid && (cvc?.dirty || cvc?.touched)" class=" text-danger" role="alert">
                    <p *ngIf="cvc?.errors?.['required']">Card CVC Required <i
                        class="fa-solid error fa-circle-exclamation"></i></p>
                    <p *ngIf="cvc?.errors?.['pattern']">Please enter a valid CVC (3 digits).
                      <i class="fa-solid error fa-circle-exclamation"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                <button class="btn  total col-6 h3">Total Pay: {{totalPrice|currency}}</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious class="btn back">Back</button>
      <button mat-button matStepperNext class="btn next">Next</button>
    </div>
  </form>
</div>