<app-sub-header [route]="route"></app-sub-header>
<section class="gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body p-5">
            <div class="d-flex justify-content-between align-items-center mb-5">
              <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
              <h4 class="mb-0 noItem">
                {{ ProductsInCart?.length }} items added
              </h4>
            </div>
            <hr class="my-4" />
            <!-- Single item -->
            <ng-container *ngIf="empty">
              <div class="container-fluid mt-50">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center">
                          <img
                            src="https://www.jumia.com.eg/assets_he/images/cart.668e6453.svg"
                            width="130"
                            height="130"
                            class="img-fluid mb-4 mr-3"
                          />
                          <h3><strong>Your Cart is Empty</strong></h3>
                          <h4>Browse our categories and discover our best deals!</h4>
                          <a
                            href="#"
                            class="btn btn-primary cart-btn-transform m-3"
                            data-abc="true"
                            routerLink="/"
                            >continue shopping</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="row" *ngFor="let item of ProductsInCart">
              <div
                class="row mb-4 d-flex justify-content-between align-items-center"
              >
                <div class="col-4 col-md-2 col-lg-2 col-xl-2">
                  <img
                    [src]="item.imagePaths[1]"
                    class="img-fluid rounded-3"
                    alt=""
                  />
                </div>
                <div class="col-6 col-md-3 col-lg-3 col-xl-3">
                  <h5 class="text-muted">{{ item.name }}</h5>
                  <h5 class="text-black mb-0">{{ item.description.slice(0,30) }}{{ item.description.length > 30 ? '...' : '' }}</h5>
                </div>
                <div
                  class="col-4 col-md-3 col-lg-3 col-xl-2 d-flex mt-2 text-center"
                >
                  <div class="input-group input-spinner">
                    <div class="quantity-selector">
                      <button
                        type="button"
                        class="btn btn-quantity"
                        (click)="decreaseQuantitiy(item.id)"
                      >
                        <span>-</span>
                      </button>
                      <div class="quantity-number">{{ item.quantityCart }}</div>
                      <button
                        type="button"
                        class="btn btn-quantity"
                        (click)="increaseQuantitiy(item.id)"
                      >
                        <span>+</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">{{ item.price | currency }}</h5>
                </div>
                <div
                  class="col-md-1 col-lg-1 col-xl-1 text-end"
                  (click)="deletProductFromCart(item)"
                >
                  <a class="text-muted"
                    ><i class="fa-solid fa-trash-can"></i
                  ></a>
                </div>
              </div>
              <hr class="my-4" />
            </div>
            <!-- Single item -->
          </div>
        </div>
      </div>
      <div class="col-lg-4" *ngIf="!empty" >
        <div class="card mb-4">
          <div class="card-body summary p-4">
            <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
            <hr class="my-4" />
            <ul class="list-group list-group-flush">
              <li class="d-flex justify-content-between mb-4">
                <h5 class="text-uppercase">items</h5>
                <h5>{{ ProductsInCart?.length }}</h5>
              </li>
              <li class="d-flex justify-content-between mb-4">
                <h5 class="text-uppercase">SUBTOTAL</h5>
                <h5>{{ subTotalPrice | currency }}</h5>
              </li>
              <li class="d-flex justify-content-between mb-4">
                <h5 class="text-uppercase">TAX</h5>
                <h5>Free</h5>
              </li>
              <hr class="my-4" />
              <li class="d-flex justify-content-between mb-4">
                <h5 class="text-uppercase">Total price</h5>
                <h5>{{ subTotalPrice | currency }}</h5>
              </li>
            </ul>

            <div class="d-grid gap-2 col-12 mx-auto">
              <button
                type="button"
                class="btn btn-lg checkout"
                routerLink="/main/checkout"
                data-mdb-ripple-color="dark"
              >
                CHECKOUT
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
