
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }

  .card-registration .select-arrow {
  top: 13px;
  }

  .summary {
  background-color: #f7f7f7;
  }
  .noItem{
      color: #ff8100;
  }
  .checkout{
      background-color:#ff8100;
      border-radius: 999px;
      color: white;
  }
  .checkout:hover{
      background-color:#ff8100;
      color: black;
  }
  .fa-minus,.fa-plus{
      color: #fb5231;
  }
  .fa-trash-can{
      color: red;
  }










