<div class="container mb-5">

  <div class="row d-flex justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="invoice p-5">
          <h2>Your order Confirmed!</h2>
          <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody class="text-center">
                <tr>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted">Order Date</span>
                      <span>{{ twoDaysAfter | date:'MMM d, y'}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted">Payment</span>
                      <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span>
                    </div>
                  </td>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted">Shiping Address</span>
                      <span>{{adress}}</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="product border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr   *ngFor="let cart of cartProduct "  >
                  <td width="20%">
                    <img [src]="cart.imagePaths[0]" width="90">
                  </td>
                  <td width="60%">
                    <span class="font-weight-bold">{{cart.name}}</span>
                    <div class="product-qty">
                      <span class="d-block">Quantity:{{cart.quantityCart}}</span>
                    </div>
                  </td>
                  <td width="20%">
                    <div class="text-right">
                      <span class="font-weight-bold">{{cart.price|currency}}</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-md-6">
              <table class="table table-borderless">
                <tbody class="totals">
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted">Subtotal</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span>{{totalPriceCart|currency}}</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted">Shipping Fee</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span>Free Shipping</span>
                      </div>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted">Discount</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span class="text-success">{{totalPriceCartDiscount|currency}}</span>
                      </div>
                    </td>
                  </tr> -->
                  <tr class="border-top border-bottom">
                    <td>
                      <div class="text-left">
                        <span class="font-weight-bold">Total Price</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span class="font-weight-bold">{{totalPriceCart|currency}}</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>