<div class="container mb-5">

  <div class="row d-flex justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="invoice p-5">
          <h2>Your order Confirmed!</h2>
          <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody class="text-center">
                <tr>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted">Order Date</span>
                      <span>12 Jan,2018</span>
                    </div>
                  </td>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted">Payment</span>
                      <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span>
                    </div>
                  </td>
                  <td>
                    <div class="py-2">
                      <span class="d-block text-muted">Shiping Address</span>
                      <span>414 Advert Avenue, NY,USA</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="product border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td width="20%">
                    <img src="https://i.imgur.com/qSnCFIS.png" width="90">
                  </td>
                  <td width="60%">
                    <span class="font-weight-bold">Men's Sports cap</span>
                    <div class="product-qty">
                      <span class="d-block">Quantity:1</span>
                    </div>
                  </td>
                  <td width="20%">
                    <div class="text-right">
                      <span class="font-weight-bold">$67.50</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td width="20%">
                    <img src="https://i.imgur.com/WuJwAJD.jpg" width="90">
                  </td>
                  <td width="60%">
                    <span class="font-weight-bold">Men's Sports cap</span>
                    <div class="product-qty">
                      <span class="d-block">Quantity:1</span>
                    </div>
                  </td>
                  <td width="20%">
                    <div class="text-right">
                      <span class="font-weight-bold">$67.50</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td width="20%">
                    <img src="https://i.imgur.com/SmBOua9.jpg" width="70">
                  </td>
                  <td width="60%">
                    <span class="font-weight-bold">Men's Collar T-shirt</span>
                    <div class="product-qty">
                      <span class="d-block">Quantity:1</span>
                    </div>
                  </td>
                  <td width="20%">
                    <div class="text-right">
                      <span class="font-weight-bold">$77.50</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-md-5">
              <table class="table table-borderless">
                <tbody class="totals">
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted">Subtotal</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span>$168.50</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted">Shipping Fee</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span>$22</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted">Tax Fee</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span>$7.65</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="text-muted">Discount</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span class="text-success">$168.50</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="border-top border-bottom">
                    <td>
                      <div class="text-left">
                        <span class="font-weight-bold">Subtotal</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span class="font-weight-bold">$238.50</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>