<div class="limiter" style="background-color: #666666">
  <div class="container-login100">
    <div class="col-11 col-md-10 col-lg-12">
    <div class="wrap-login100">
      <form (ngSubmit)="onSubmit()" class="login100-form validate-form ">
        <div class="d-flex align-items-center  "style="margin-top:-50px;">
          <i class="fa-solid fa-1x fa-cart-shopping" style="color: orange"
            >&nbsp;<span style="font-size: 15px">Store</span></i
          >
        </div>
        <span class="login100-form-title p-b-43">
         <span class="login p-b-80">Sign up</span>
        </span>
        <br />
       
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3cg">Username</label>
          <input type="text" name="username" required [(ngModel)]="username" class="form-control form-control-lg" 
           />
        </div>


        <br />
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3cg">Email</label>
          <input type="email" id="form3Example3cg" class="form-control form-control-lg"  required
          [(ngModel)]="email" />
        </div>

        <br />
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example4cg">Password</label>
          <input type="password" id="form3Example4cg" class="form-control form-control-lg"required
          [(ngModel)]="password" />
        </div>
        <br />

       <div class="gender">
        Gender: <input type="radio" name="gender" value="male"> Male
        <input type="radio" name="gender" value="female"> Female
        </div>
          <br>
        <div class="form-group">
          <label for="exampleFormControlFile1"></label>
          <input
            type="file"
            class="form-control-file"
            id="exampleFormControlFile1"
          />
        </div>

        <br />
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" style="font-size: 20px" routerLink="/main/products">
            Register
          </button>
        </div>
        <br />
        <div class="text-center p-t-46 p-b-20">
          <span class="txt2" style="font-size: 15px">
            Already have an account?
            <a href="" style="font-size: 20px" routerLink="/auth/login"> Login now </a>
          </span>
        </div>
      </form>

      <div class="login100-more" style="background-image: url('../../../../assets/images/0.jpg')"></div>
    </div>
  </div>
</div>
</div>

