<div class="limiter" style="background-color: #666666">
  <div class="container-login100">
    <div class="wrap-login100">
      <form (ngSubmit)="onSubmit()" class="login100-form validate-form ">
        <div class="d-flex align-items-center  "style="margin-top:-50px;">
          <i class="fa-solid fa-1x fa-cart-shopping" style="color: orange"
            >&nbsp;<span style="font-size: 15px">Store</span></i
          >
        </div>
        <span class="login100-form-title p-b-43">
         <span class="login p-b-80">Sign up</span>
        </span>
        <br />
        <div
          class="wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <input class="input100" type="text" name="username" required [(ngModel)]="username" />
          <span class="label-input100">Username</span>
        </div>

        <br />
        <div
          class="wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <input class="input100" type="text" name="email" required
          [(ngModel)]="email" />
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
        </div>

        <br />
        <div
          class="wrap-input100 validate-input"
          data-validate="Password is required"
        >
          <input class="input100" type="password" name="password"  required
          [(ngModel)]="password" />
          <span class="focus-input100"></span>
          <span class="label-input100">Password</span>
        </div>
        <br />

          <div class="d-flex  "> Gender:<input type="radio" id="html" name="fav_language" value="HTML">
              <label for="html">Male</label><br>
              <input type="radio" id="css" name="fav_language" value="CSS">
              <label for="css">Female</label><br></div>
       
        
        <div class="form-group">
          <label for="exampleFormControlFile1"></label>
          <input
            type="file"
            class="form-control-file"
            id="exampleFormControlFile1"
          />
        </div>

        <br />
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" style="font-size: 20px" routerLink="/main/products">
            Register
          </button>
        </div>
        <br />
        <div class="text-center p-t-46 p-b-20">
          <span class="txt2" style="font-size: 15px">
            Already have an account?
            <a href="" style="font-size: 20px" routerLink="/auth/login"> Login now </a>
          </span>
        </div>
      </form>

      <div class="login100-more" style="background-image: url('../../../../assets/images/0.jpg')"></div>
    </div>
  </div>
</div>
