<form [formGroup]="step">
  <ng-template matStepLabel>Fill address information</ng-template>
  <mat-form-field>
    <input matInput placeholder="First name" formControlName="firstName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last name" formControlName="lastName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Country" formControlName="country" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Street" formControlName="street" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Shopping Address" formControlName="shoppingAddress" required>
  </mat-form-field>
  <app-text-input (outputText)="change($event)"></app-text-input>
  <!-- " -->
  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>


  <!-- <mat-form-field> -->
    <!-- <input matInput placeholder="Country" formControlName="country" required> -->
    <!-- <div class="inputbox mt-3 mr-2">
      <select class="form-select" aria-label="Default select example"  formControlName="country" required>
        <option selected>Country</option>
        <option value="Australia">Australia</option>
        <option value="Brazil">Brazil</option>
        <option value="Canada">Canada</option>
        <option value="Egypt">Egypt</option>
        <option value="Germany">Germany</option>
        <option value="Italy">Italy</option>
        <option value="Jordan">Jordan</option>
      </select>
    </div>
  </mat-form-field> -->
