<div class="limiter" style="background-color: #666666">
  <div class="container-login100">
    <div class="col-11 col-md-10 col-lg-12">
      <div class="wrap-login100">
        <form class="login100-form validate-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="d-flex align-items-center" style="margin-top: -80px">
            <i class="fa-solid fa-1x fa-cart-shopping" style="color: orange">&nbsp;<span
                style="font-size: 15px">Store</span></i>
          </div>
          <span class="login100-form-title p-b-43">
            <span class="login p-b-80">Forget Password</span>
          </span>

          <br />
          <br />
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3cg" style="font: 20px">Email</label>
            <input type="email" name="email" ngModel class="form-control form-control-lg rounded" #e="ngModel"
              placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
              [(ngModel)]="email" />

            <div class="alert alert-danger" *ngIf="e.touched">
              <p *ngIf="e.errors?.['required']">
                Email is a required field!
              </p>
              <p *ngIf="e.errors?.['pattern']">
                This is not a valid Email !
              </p>
            </div>
          </div>
          <br />
          <br />
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" style="font-size: 15px; border-radius: 20px"
              [disabled]="loginForm.invalid">
              <!-- routerLink="/auth/resetpassword" -->
              <!-- routerLink="/auth/resetpassword?resetToken={{ resetToken }}" -->
              Forget Password
            </button>
          </div>
        </form>
        <div class="login100-more" style="background-image: url('../../../../assets/images/0.jpg')"></div>
      </div>
    </div>
  </div>
</div>