<div class="container">
    <div class="row">
        <div class="">
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <h1 class="fw-bold text-black mb-4">My Orders</h1>
                        <!-- /////////////////////////// -->
                        <div class="bg-white card mb-4 order-list shadow-sm">
                            <div class="gold-members p-4">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="container  h-100">
                                            <div class="d-flex justify-content-between align-items-center py-3">
                                               
                                                    <a href="#">
                                                        <a href="#" class="text-black h6">Order Number# 1</a>
                                                    </a>
                                                
                                                <a href="#">
                                                    <span style="color: #ff8100;" class="h6">Delivered(status) <i
                                                            class="fa-solid fa-list-check"></i></span>
                                                </a>
                                            </div>
                                            <p class="text-gray mb-1"><i class="fa-solid fa-location-arrow"></i>
                                                shoping
                                                address,street, city, country
                                            </p>
                                            <p class="text-gray mb-3"><i class="fa-solid fa-calendar-days"></i> Mon,
                                                Nov
                                                12, 6:26 PM</p>
                                            <p class="text-dark"><i class="fa-solid fa-clipboard-list"></i> Veg
                                                Masala
                                                Roll x 1, Veg Burger x 1, Veg Penne Pasta in Red Sauce x 1
                                            </p>
                                            <hr>
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <a class="btn btn-sm btn-outline" href="#"> Order Details</a>
                                                <a class="btn btn-sm btn-track" href="#"> Track Order</a>
                                            </div>
                                            <p class="mb-0 pt-2 h5" style="color: #ff8100;"> Total Paid: $300 </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>