body{
    margin-top:20px;
    background:#eee;
}
/* My Account */
.payments-item img.mr-3 {
    width: 47px;
}

.card offer-card h5.card-title {
    border: 2px dotted #000;
}

.payments-item .media {
    align-items: center;
}
.payments-item .media img {
    margin: 0 40px 0 11px !important;
}
.reviews-members .media .mr-3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
}
.order-list img.mr-4 {
    width: 70px;
    height: 70px;
    object-fit: cover;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    border-radius: 2px;
}
.osahan-cart-item p.text-gray.float-right {
    margin: 3px 0 0 0;
    font-size: 12px;
}
.osahan-cart-item .food-item {
    vertical-align: bottom;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.rounded-pill {
    border-radius: 50rem!important;
}
a{
    text-decoration:none;
}
.btn-outline{
    border-radius: 999px;
    font: 15px sans-serif;
    background-color: #d7d7d7;
    color: #000;


}
.btn-outline:hover{
    border-radius: 999px;
    background-color: #d7d7d7;
    font: 15px sans-serif;
    color: #ff8100;

}
.btn-track{
    background-color: #ff8100;
    border-radius: 999px;
    color: white;
    font: 15px sans-serif; 
}
.btn-track:hover{
    background-color: #ff8100;
    color: #000;
    border-radius: 999px;
    font: 15px sans-serif; 
}