
<div class="container rounded">
  <div class="order rounded">
    <article class="card">
      <header class="card-header">My Orders / Tracking</header>
      <div class="card-body rounded">
        <h6>Order ID: {{orders.id}}</h6>
        <article class="card rounded">
          <div class="card-body row">
            <div class="col">
              <strong>Estimated Delivery time:</strong>
              <br />
              <p>{{ twoDaysAfter }}</p>
            </div>
            <div class="col">
              <strong>mobile:</strong> <br />
              <p>BLUEDART, | <i class="fa fa-phone"></i> {{orders.mobile}}</p>
            </div>
            <div class="col">
              <strong>Status:</strong> <br />
              <p *ngIf="orders.payment_status=='1'">confirmed</p>
              <p *ngIf="orders.payment_status=='2'">in progress</p>
              <p *ngIf="orders.payment_status=='3'">out of deliverd</p>
              <p *ngIf="orders.payment_status=='4'">deliverd</p>
            </div>
            <div class="col">
              <strong>Tracking #:</strong> <br />
              <p>BD045903594059</p>
            </div>
          </div>
        </article>
        <div class="track">
          <div class="step " [class.active]="orders.payment_status >= '1' ">
            <span class="st icon"> <i class="fa fa-check"></i> </span>
            <span class="te text">Order confirmed</span>
          </div>
          <div class="step active" [class.active]="orders.payment_status >='2'" >
            <span class="st icon"> <i class="fa fa-user"></i> </span>
            <span class="te text"> Picked in progress</span>
          </div>
          <div class="step"  [class.active]="orders.payment_status >='3'">
            <span class="st icon"> <i class="fa fa-truck"></i> </span>
            <span class="te text"> On the way </span>
          </div>
          <div class="step"  [class.active]="orders.payment_status >='4'">
            <span class="st icon"> <i class="fa fa-box"></i> </span>
            <span class="te text">Ready for deliverd</span>
          </div>
        </div>
        <hr />
        <ul class="row">
          <!-- *ngFor="let image of order.product" -->
          <div class="col-md-4" *ngFor="let order of orders.order_products">
          <li >
            <figure class="itemside mb-3" >
              <div class="aside">
                <img
                width="100"
                  src="{{order.product.images[0].imgPath}}"
                  alt="testest"
                />
                <h1>testes</h1>
              </div>
              <figcaption class="info align-self-center">
                <p class="t title">
                  {{order.product.name}} <br />
                  <span class="space"> {{order.product.description}} </span>
                </p>
                <span class="text-muted"> {{order.product.price  }}   </span>
              </figcaption>
            </figure>
          </li>
        </div>

        </ul>
        <hr />
        <a href="#" class="btn rounded" data-abc="true">
          <i class="fa fa-chevron-left"></i> Back to orders</a
        >
      </div>
    </article>
  </div>
</div>

<!-- <div class="m-5">
    <h1>Orders</h1>
<table class="table text-center">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Customer Name</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>productName</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders ;let i = index">
      <td>{{ order.id }}</td>
      <td>{{ order.name }}</td>

      <td>{{ order.order_products[i].product.name }}</td>
      <td>{{ order.order_products[0].product.price }}</td>
      <td>{{ order.order_products[0].quantity }}</td>
      <td><img src="{{order.order_products[0].product.images[0].imgPath}}" width="50" alt=""></td>
  
    </tr>
  </tbody>
</table>
</div> -->