<app-header></app-header>
<div class="container mt-5">
  <div class=" row d-flex justify-content-between">
    <div class="col-12  col-md-4 mt-5 mb-5">
      <div class="">
        <h1 class="f-700">Not Found</h1>
        <h2 class="-pvs -fs16 -m">
          We couldn’t find the page you are looking for
        </h2>
        <p style="line-height: 1.5;" >
          But we have millions more shopping items for you to browse!
        </p>
        <a class="btn btn-warning" href="/" style="box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);">GO TO HOME PAGE</a>
      </div>
    </div>
    <div class="col-12 col-md-8 ">
      <img class="float-end"
        src="https://www.jumia.com.eg/assets_he/images/people.9416a3fb.svg"
        alt=""
        width="477"
        height="496"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
